@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main-outer {
    width: 100vw;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-photo/football-trainer-teaching-his-pupils_23-2149707974.jpg?t=st=1729323785~exp=1729327385~hmac=d2d7710db7d7a9828268ad7f35ec6eb8800494112d58792dc1cdfb4a84a53390&w=1060");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inner-wrapper {
    width: 80%;
    height: 80%;
    background-color: rgb(255, 255, 255, 0.9);
    display: flex;
    ;
    flex-direction: column;
}

.top-title-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-title-wrapper h1 {
    text-align: center;
    font-size: 35px;
    margin: 0;
    padding: 20px 0;
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
}

.controller-wrapper {
    width: 100%;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.controller-item {
    height: 100%;
    /* border: 1px solid red; */
    flex: 1;
    display: flex;
    padding: 5px;
    ;
    justify-content: center;
    align-items: center;
}

.item-inner {
    background-color: white;
    flex: 1;
    height: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.playground {
    display: flex;
    flex: 1;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-controll {
    width: 200px;
}

.button-bar {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
}